<mat-card class = "tp-card" >
  <mat-card-header>
     <div mat-card-avatar class = "tp-header-image"></div>
     <mat-card-title>Questionnaire</mat-card-title>
     <mat-card-subtitle>{{maQuestion.question}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="1" rowHeight="50px" >
      <mat-grid-tile *ngFor="let choix of maQuestion.choix" >
        {{choix}}
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
  <mat-card-actions >
     <button color="primary" mat-raised-button>Suivant</button>
     <button color="primary" mat-raised-button>Partager</button>
  </mat-card-actions>
</mat-card>