/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

mat-grid-tile:hover{
    background-color: #26a69a;
    color: #eafaf9;
    cursor: pointer;
}

mat-grid-tile.selected{
    background-color: #26a69a !important;
    color: #eafaf9 !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@media (min-width: 600px) {
mat-card{
   margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px; 
}
}


mat-card-content{
}